<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>

    <!-- This Names Will send Later from original object currently the user object
     is sending from app.js Dashboard Controller -->
    <h2>First Name: <%= user.firstName %></h2>
    <h3>Last Name: <%= user.lastName %></h3>
    <h4>Email : <%= user.email %></h4>

    <form action="/api/v1/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
